*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
    color: black;
}

body {
    padding: 0;
    margin: 0;
    background: #2b2f3f;
    display: flex;
}

.calculator-grid {
    /* width: 100%; */
    display: grid;
    padding: 50px;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.answer-history {
    width: 20%;
    text-align: left;
    align-content: flex-start
}

.answer-text {
    top: 22%;
    height: 40%;
    width: 10%;
    position: relative;
    font-weight: bold;
    color: white;
    background-color: #457191;
    text-align: center;
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid black;
    outline: none;
    background-color: rgba(255,255,255, .75);
}

    .calculator-grid > button:hover {
        background-color: rgba(255, 255,255, .9);
    }

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1/-1;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.answer-history > button {
    top: 20%;
    position: relative;
    background-color: #4b72c9; /* Green */
    color: white;
    width: 10%;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* left: 1%; */
}

.output .previous-operand {
    color: green;
    font-size: 1.5rem;
}

.output .current-operand {
    color: #1cff02;
    font-size: 2.5rem;
}

.answer-history {
    height: 70vh;
    width: 70%;
}
